[user]
        name = Sofiya Lazarova
        email = sofiya.lazarova@infarm.com

[credential]
        # Login with osx keychain
        helper = osxkeychain

[alias]
        # Pretty git log
        lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
        ch = checkout
        st = status
        br = branch
        rb = rebase
        rbc = rebase --continue
        rs = restore --staged
[pull]
        rebase = true

